.section {
  position: relative;
  height: 400px;
  width: 10px;
  /* border: 1px solid blue; */
  /* overflow:hidden; */
  background-color:blue;
  perspective:2000px;
  margin:auto;
  transform-style: preserve-3d;

  z-index:0;
}

.Panel{
  background-color:red;
  position:absolute;
  transform-style: preserve-3d;

  height:20%;
  width:400%;
  
  /* pointer-events: none; */
}


.invisibleP{
  display:none;
}

.space{
  height:100%;
  width:100%;
  perspective:8000px;
  transform:rotate(180deg)

}