.section {
  position: relative;
  height: 100px;
  width: 1px;
  /* border: 1px solid blue; */
  /* overflow:hidden; */
  background-color:rgba(0, 0, 255, 0);
  perspective:2000px;
  margin:auto;
  transform-style: preserve-3d;

  z-index:0;
}

.Panel{
  background-color:rgba(27, 27, 27, 0.589);
  position:absolute;
  transform-style: preserve-3d;

  height:20%;
  width:4000%;
  
  /* pointer-events: none; */
}


.invisibleP{
  display:none;
}

.space{
  position: absolute;

  height:100%;
  width:100%;
  perspective:8000px;
  transform:rotate(180deg); 
  border:1px solid black;

  overflow: hidden;
  z-index:1;
  pointer-events: none;

}
.space2{
  position: absolute;
  height:100%;
  width:100%;
  perspective:100px;
  
  overflow: hidden;
  z-index:0;
  background-color: black;



}
.newsimage{
  width:100%;
  height:auto;
  transform-style: preserve-3d;
  /* backface-visibility: hidden; */

}

.space2 .Panel{
  background-color: rgba(255, 255, 255, 0);
  height:100%;
  backface-visibility: hidden;

} 

.open{
  text-align:center;
  position:fixed;
  z-index:3;
  width:80%;
  height:80%;
  border:5px solid blue;
  background-color: rgb(106, 106, 248);
  border-radius:5px;
  left:10%;
  top:10%;
  animation: imageRise .5s both;

}

.newsImage{
  height:40%;
  max-width: 80%;
  margin:3%;



}
.newsImageOpen{
  
  animation:imageRise .5s both;
}
@keyframes imageRise{
  0%{transform:translateY(-200%)}
  100%{transform:translateY(0%)}
}
.newsText{
  width:90%;
  padding:3px;
  margin:auto;
  margin-top:3%;
  background-color: white;
  border-radius:5px;

}
.newsTexteOpen{
  
  animation:imageRise .5s both;
}
.newsTitle{
  width:100%;
  font-size: xx-large;
  padding:2px;
  text-align:center;
  color:white;
  border:1px white solid;
  border-radius:2px;

}
.newsTitleOpen{
  animation:imageRise .5s both;
}
.newsLink{
  width:90%;
  text-align:center;
  margin-top:3%;
  color:white;
  padding:3px;
  border-radius:3px;
}
.newsLink:hover{
  background-color: white;
  color:blue;
}
.newsLinkOpen{
  animation:imageRise .5s both;
}

.invisibleP{
  display:none;
}

.beam{
  position:absolute;
  background-color: lightblue;

  width:10px;

  height:150%;
  animation:beamup .5s both
}

@keyframes beamup{
  0%{transform:translateY(0%)}
  100%{transform:translateY(700%)}
}